body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}
body{
   background-image: radial-gradient(rgb(232, 163, 163),rgb(250, 70, 5));
}
header {
    background-color: rgba(0, 0, 0, 0.817);
    text-align: center;
    padding: 45px 0;
    background-image:linear-gradient(rgba(128, 128, 128, 0.674),rgb(0, 0, 0))
    

}
header:hover{
    background-image: url('12.gif');
}


nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    height: auto;
    width: 80px;
}

nav li {
    margin: 20px;
}

a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
    background-color:rgba(21, 225, 24, 0.128);
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
    height: 20px;
    width: 88px;
    
}

a:hover {
    background-image: url('12.gif');
    background-color: black;
}


h1 {
    display: block;
    align-items: center;
}


.profile-pic img {
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    border: 100px;
    background-color:rgb(255, 255, 255) ;

}
.cool-box {
    background-color: hsla(207, 33%, 65%, 0.5);
        color: #fff; /* Text color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Drop shadow */
    padding: 20px; /* Padding inside the box */
    text-align: justify; /* Center-align text */
}

 
.cool-bu {
    background-color: rgba(13, 250, 175, 0.251);
    color: #fff;
    height: auto;
    text-align: center;
    border-radius: 5px;

    
}

        

html{
    scroll-behavior: smooth;
}
.cool-bu:hover{
    background-color: rgba(137, 43, 226, 0.228);

}

.cool-box h1 {
    font-size: 24px; /* Title font size */
    margin: 0;
}

.cool-box p {
    font-size: 21px; /* Text font size */
}
div {
    scroll-behavior: smooth;
}


/* Optional: Add a little padding to the target sections to make scrolling smoother this took me few hours to figure out */

.project-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
    background-color: rgba(3, 53, 255, 0.612);
    margin-bottom: 5px;
    margin-right: 200px;
    border-radius: 25px;
    height: 200px;
    width: auto;
}

.project-content {
    display: flex;
    align-items: center;
    width: 100%;
}
.project-content2 {
    display: flex;
    align-items: center;
    width: 100%;
}

img {
    max-width: 100%; /* Make sure the image doesn't exceed its container width */
    height: auto; /* Maintain the aspect ratio else it will be spageti */
    max-height: 150px; /* Set the maximum height to limit the size */
    border-radius: 50px;
    
}
.h1{
    text-shadow: 40px;
}
.project-box2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
    background-color: rgba(3, 53, 255, 0.612);
    margin-bottom: 5px;
    margin-left: 150px;
    border-radius: 25px;
}
.project-box3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
    background-color: rgba(3, 53, 255, 0.612);
    margin-bottom: 5px;
    margin-left: 200px;
    margin-right: 100px;

    border-radius: 25px;
}
.project-content3{
    display: flex;
    align-items: center;
    width: 100%;  

}
.project-box2:hover{
    background-image:radial-gradient(rgb(0, 0, 0), gray);
}
.project-box3:hover{
    background-image:radial-gradient(rgb(36, 99, 236), rgb(0, 38, 255));
}
.project-box:hover{
    background-image:radial-gradient(rgb(0, 0, 0), gray);

}
.profile-pic{
    scroll-behavior: smooth;
}
.project-box{
    scroll-behavior: smooth;
}
.profile-pic[id] {
    scroll-margin: 20px;
}
    
.tf{
    border-radius: 50%;
}